<footer>
    <div class="d-flex justify-content-between align-items-center gap-5 p-5 footer-top-bg">
        <div>
            <div class="logo d-flex flex-column justify-content-center align-items-center gap-3">
                <img src="footerLogo.png" alt="">
                <img src="text-logo.png" alt="">
            </div>
            <p class="mt-3">Registration: CA - TCP # 35329 A</p>
        </div>

        <div class="contact d-flex flex-column gap-3">
            <div class="d-flex gap-3">
                <img src="loc.png" height="16" alt="">
                <p class="fs-14 mb-1">415 South Oxford Ave, Unit # 117, Los Angeles, CA 90020 . USA</p>
            </div>
            <div class="d-flex gap-3">
                <img src="phone.png" height="16" alt="">
                <p class="fs-14 mb-1">+1(213) 258-9330</p>
            </div>
        </div>
        <div class="social-media d-flex justify-content-center align-items-center gap-5">
            <p class="m-0 fs-14">Social Media</p>
            <img src="Facebook.png" width="16" alt="">
            <img src="Vector.png" width="16" alt="">
            <img src="LinkedIn.png" width="16" alt="">
            <img src="Instagram.png" width="16" alt="">
            <img src="Youtube.png" width="16" alt="">
        </div>
    </div>
    <div class="bg-light-black d-flex justify-content-between align-items-center p-5">
     <ul class="style-none d-flex gap-5 m-0">
        <li>Home</li>
        <li>Services</li>
        <li>CONTACT US</li>
        <li>FAQ</li>
        <li>Privacy Policy</li>
     </ul>
     <p class="m-0">Copyright © 2024 • E-transportation</p>
    </div>
</footer>