<section class="p-5 ">
    <div class="header d-flex flex-column justify-content-center align-items-center gap-3">
        <div class="title d-flex justify-content-start align-items-center gap-5">
            <div class="gold-line"></div>
            <span class="text-uppercase">
                see our cars
            </span>
        </div>
        <h1 class="feature-text text-uppercase"> our fleet</h1>
    </div>

    <div class="">
        <div class="bg-dark-gold d-flex  align-items-center gap-5 p-3 ps-5 rounded-pill my-5">
            <div class="bg-gold d-flex justify-content-center align-items-center gap-2 p-2 rounded-pill mx-5 px-5">
                <img src="SEDAN.png" width='56' height="20" alt="">
                <p class="text-uppercase m-0">sedan</p>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2 p-2 rounded-pill mx-5 px-5">
                <img src="SEDAN.png" width='56' height="20" alt="">
                <p class="text-uppercase m-0">sedan</p>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2 p-2 rounded-pill mx-5 px-5">
                <img src="SEDAN.png" width='56' height="20" alt="">
                <p class="text-uppercase m-0">sedan</p>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-5 flex-wrap">
            <img src="Car1.png" alt="">
            <img src="Car2.png" alt="">
            <img src="Car3.png" alt="">
            <img src="Car4.png" alt="">
        </div>
    </div>
</section>