<section class="pt-5 d-flex justify-content-around align-items-center gap-5 mt-5">
    <div class="w-50 p-5">
        <div>
            <p class="mb-3 fs-18">Contact Us</p>
            <h5 class="mb-3 fs-40">Get In Touch With Us</h5>
            <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius tempor
                incididunt ut labore et dolore magna aliqua. Ut enim adiqua minim veniam
                quis nostrud exercitation ullamco
            </p>
        </div>
        <div class="py-5 d-flex flex-column gap-4 ">
            <div class="d-flex gap-3 ">
                <div class="bg-dark-gold rounded d-flex justify-content-center align-items-center s-70"><img src="home-icon.png" alt=""></div>
                <div>
                    <p class="mb-2 text-gold">Our Location</p>
                    <p class="mb-0">415 South Oxford Ave, Unit # 117, Los Angeles, CA 90020 . USA</p>
                </div>
            </div>
            <div class="d-flex gap-3 ">
                <div class="bg-dark-gold rounded d-flex justify-content-center align-items-center s-70"><img src="phone-icon.png" alt=""></div>
                <div>
                    <p class="mb-2 text-gold">Phone Number</p>
                    <p class="mb-0">+1(213) 258-9330</p>
                </div>
            </div>
            <div class="d-flex gap-3 ">
                <div class="bg-dark-gold rounded d-flex justify-content-center align-items-center s-70"><img src="msg-icon.png" alt=""></div>
                <div>
                    <p class="mb-2 text-gold">Email Address</p>
                    <p class="mb-0">info e-trasportation.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark-gold p-5 rounded w-25  ">
        <form class="d-flex flex-column gap-3">
            <input type="text" class="form-control " placeholder="Your Name">
            <input type="email" class="form-control" placeholder="Your Email">
            <input type="text" class="form-control " placeholder="Your Phone">
            <textarea class="form-control " placeholder="Your Message"></textarea>
            <button class="btn book-btn text-light">Send</button>
        </form>
    </div>
</section>