.title {
    color: #806E45;
    /* text-transform: uppercase; */
}

.gold-line {
    width: 54px;
    height: 5px;
    background-color: #806E45;
}

.bg-gold{
    background: #B5A06C;
}

.bg-dark-gold{
    background: #1B1B1B;
}