<section id="hero" class="w-100">
    <div class="hero-container w-100 h-100 d-flex " >
        <div class="rotate-90">follow 
            <img src="instagram icon.png" alt="">
            <img src="x icon.png" alt="">
        </div>

        <div>
            <h1><span>Experience Luxury </span>Travel Like Never Before</h1>
        </div>

        <div class="rotate-270">follow 
            <img src="instagram icon.png" alt="">
            <img src="x icon.png" alt="">
        </div>
    </div>
</section>