<section id="hero" class="w-100">
    <div class="hero-container w-100 h-100 d-flex justify-content-between align-items-center p-5">
        <div class="social-media d-flex justify-content-center align-items-center gap-3">
            <p>follow</p>
            <a href="#"> <img src="instagram icon.png" alt=""></a>
            <a href="#"> <img src="x icon.png" alt=""></a>
        </div>

        <div class="w-50 d-flex flex-column justify-content-center align-items-start gap-5">
            <div class="hero-title d-flex justify-content-start align-items-center gap-5">
                <div class="line"></div>
                <span>
                    Experience Luxury
                </span>
            </div>
            <h1 class="hero-content">Experience Luxury Travel Like Never Before</h1>
            <button class="btn book-btn text-light">Book now</button>
        </div>
        <div class="slider-container d-flex align-items-center gap-4">
            <!-- <div class="slider-container">
                <div class="slider">
                  <div class="slider-start">Start</div>
                  <div class="slider-line"></div>
                  <div class="slider-markers">
                    <div class="marker">01</div>
                    <div class="marker">02</div>
                    <div class="marker">03</div>
                  </div>
                </div>
              </div> -->

            <div class="slider-text d-flex flex-column gap-3 align-items-end">
                <div>start</div>
                <div>01</div>
                <div>02</div>
                <div>03</div>
            </div>
            <div class="slider-line">
                <div class="slider-indicator-line"></div>
            </div>


        </div>


    </div>
</section>